* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-weight: 400;   
}
.productList {
    position: absolute;
    width: 100%;
    left:0;
    top: 986px;
    padding:0 0 64px;
}
.productList-container {
    width: 1280px;
    margin:0 auto;
}
.productList-card {
    display: flex;
    justify-content: space-between;
}
.productTitle {
    margin: 0 0 24px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color:#5C596D;
}
.card {
    width: 300px;
    height: 448px;
    background: #FFFFFF;
    box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding:24px;
}
.card-img {
    width: 252px;
    height: 179px;
    margin:0 auto 17px;
    padding:4px 13px 5px 13px;
}
.card-info {
    width: 256px;
    margin:0 auto 20px;
}
.productName {
    color:#5C596D;
    font-size: 16px;
    line-height: 20px;
    width: 180px;
    font-weight: 400;
    margin-bottom: 16px;
}
.productPrice {
    font-size: 20px;
    line-height: 24px;
    color:#1D1A2F;
    font-weight: 600;
    margin-bottom: 8px;
}
.creditInfo {
    font-size: 16px;
    line-height: 20px;
    color:#5C596D;
    margin-bottom: 16px;
    cursor: pointer;
}
.rating {
    width: 129px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.starBtn {
    background: none;
    outline: none;
    border:none;
}
.product-actions {
    width: 251px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.addCartBtn {
    background: #1B5BF7;
    border-radius: 4px;
    border:none;
    outline:none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:11px 20px;
    font-size: 14px;
    line-height: 18px;
    color:#fff;
}
.addCartBtn img {
    margin-right: 12px;
}
.addCompare, 
.addFavourite {
    background: none;
    outline:none;
    border:none;
    cursor: pointer;
}
.orderBtn1 {
    background: #F7F7F7;
    color:#5C596D;
    padding:11px 36px;
}
.orderBtn2 {
    background: #E0E8FF;
    color:#1B5BF7;
    padding:11px 36px;
}