.category {
    position: absolute;
    width: 100%;
    left:0;
    top:575px;
    padding-bottom: 64px;
}
.category-container {
    width: 1280px;
    margin:0 auto;
}
.category-container h2 {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 28px;
    color:#5C596D;
    font-weight: 700;
}
.product-list {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-products {
    width: 300px;
    height: 232px;
    background: #F6F6F6;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
}
.top-products h4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color:#5C596D;
    margin:16px 0;
}