.header {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 40px;
    padding: 16px 0px;
}
.header-container {
    width: 1296px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search {
    width: 677px;   
    background: #F7F7F7;
    border-radius: 4px;
    padding:12px 15px 12px 16px;
}
.search-tips {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-input_items input{
    background: none;
    border:none;
    font-size: 16px;
    height: 24px;
    width: 550px;
    outline: none;
    color:#5C596D;
}
.search-input_items input::placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.search-btn {
    width: 24px;
    height: 24px;
    border:none;
    background: none;
    cursor: pointer;
    margin-right: 15px;
}
.photo-search {
    background: none;
    border:none;
    cursor: pointer;
}
.search-input_items {
    display: flex;
    align-items: center;
    
}

.carts {
    width: 348px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carts-item {
    text-align: center;
}
.carts-item a {
    display: block;
    text-decoration: none;
    margin:0;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color:#5C596D;
}