.navbar {
    position: absolute;    
    width: 100%;
    left: 0px;
    top: 112px;
    background: #F8F8F8;
    margin-top: 12px;
    padding:10px 0;
}
.navbar-container {
    width: 1296px;
    margin:0 auto;
}
.navbar-links {
    width: 1055px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-links_item {
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color:#5C596D; 
}
